body {
    margin: 0;
}

/* section one */
.sec-one {
    background-image: url(images/sheep-scotland.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
}

.sec-one-div {
    display: block;
    text-align: left;
    padding-left: 250px;
    padding-right: 500px;
    padding-top: 50px;
}

.first-heading {
    font-size: 8vh;
    margin-bottom: -40px;
    font-family: 'Satisfy', cursive;
    color: rgb(235, 16, 206);
    font-weight: bold;
}

.sec-one-paragraph {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
}

.btn-one {
    margin-top: 30px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid red;
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    letter-spacing: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-one:hover {
    background-color: #00ba82;
    color: white;
}

/* section two */
.sec-two {
    margin-bottom: 50px;
}

.top-dov-sec-two {
    display: flex;
    margin: 50px;
    padding: 30px;
}

.right-side {
    height: 300px;
    padding: 30px;
}

.right-side h1 {
    font-size: 6vh;
    padding-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.right-side img {
    padding-top: 40px;
    padding-left: 20px;
}

.right iframe {
    padding-top: 45px;
    padding-right: 20px;
    height: 330px;
}

/* section three */

.sec-three {
    margin-bottom: 80px;
    padding: 50px 200px;
}

.sec-three h1 {
    font-size: 7vh;
    text-align: center;
    padding: 0px 200px 20px 200px;
}

.sec-three p {
    text-align: center;
    padding: 0px 200px 20px 200px;
    font-size: 16px;
}

.div-style-card {
    height: 200px;
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
}

.card-one {
    height: 260px;
    width: 350px;
    background-color: #00ba82;
    margin-left: 15px;
    border-radius: 8px;
    padding-top: 20px;
}

.below-div {
    margin-top: -20px;
}

.top-card {
    display: flex;
    height: 250px;
    padding-bottom: 50px;
}

.top-card img {
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
    width: 60px;
}

.top-card h1 {
    padding-left: 20px;
}

.top-card p {
    padding-left: 20px;
}